* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

a {
  color: #305090;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-top: 10px;
}

input,
button {
  font-size: 16px;
  padding: 5px;
}

button {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #2f0202;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 10px;
  flex: auto;
}

.light {
  background-color: #e0e0e0;
  color: #202020;
}

.dark {
  background-color: #202020;
  color: #e0e0e0;
}

.dark button {
  background-color: #202020;
  color: #e0e0e0;
}

.dark a {
  color: #40c0f0;
}

a:hover {
  color: #f08040;
}

.header {
  padding: 10px;
  min-width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #404040 solid;
}

.footer {
  padding: 10px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #404040 solid;
}

.blog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.content {
  flex: 1 75%;
  padding: 10px;
}
.sidebar {
  flex: 1 25%;
  padding: 10px;
}
